/* Start Variable */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 50%);
    --transition-duration: 0.3s;
    --paragraph-color: #777;
    --section-padding: 100px;
    --overaly-color: rgb(0 0 0 / 50%);
}
/* End Variable */
/* Start Global Roles */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Roles */
/* Start Component */
.special-heading{
    text-align: center;
}
.special-heading h2{
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}
.special-heading h2::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}
.special-heading h2::after{
    content: '';
    position: absolute;
    border: 2px solid #333;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -31px;
}
.special-heading p{
    max-width: 100%;
    width: 550px;
    margin: 0 auto 100px;
    color: var(--paragraph-color);
    line-height: 2;
}
.overlay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overaly-color);
}
/* End Component */
/* Start Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 77.09px;
}
header .container::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: #726f71;
    width: calc(100% - 40px);
    bottom: 0;
    left: 20px;
}
header .logo img{
    height: 50px;
}
header .container nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .icon-list{
    color: white;
    font-size: 20px;
    transition: var(--transition-duration);
}
@media (min-width: 768px) {
    header .container nav .icon-list{
        display: none;
    }
}
header .container nav ul{
    display: flex;

}
@media (max-width: 767px) {
    header .container nav ul{
        display: none;
    }
    header .container nav .icon-list:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background-color: var(--overaly-color);
    }
    header .container nav .icon-list:hover + ul li a{
        padding: 15px;
    }
}
header .container nav ul li a{
    display: block;
    padding: 30px 0px;
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: var(--transition-duration);
}
header .container nav .active ,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 1;
}
header nav .form{
    border-left: 1px solid white;
    height: 30px;
    width: 40px;
    margin-left: 60px;
    position: relative;
}
header nav .form i{
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
/* End Header */
/* Start Landing */
.landing{
    min-height: 100vh;
    background-color: #8080809d;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 450px;
}
.landing .text .content h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 30px;
}
.landing .text .content p{
    font-size: 14px;
    line-height: 2;
}
.landing .angles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
    .landing .angles{
        display: none;
    }
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 30px;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/*  Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px){
    .services .features{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
        grid-gap: 50px;
    }
}
.services .features .serv{
    display: flex;
}
.services .features .serv i{
    margin: 0 50px;
}
@media (max-width: 767px){
    .services .features .serv{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .services .features .serv i{
        margin: 0px auto 30px;
    }
}
.services .features .serv h3{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
    color: var(--main-color);
}
.services .features .serv p{
    color: var(--paragraph-color);
    line-height: 1.6;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../images/design.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    overflow: hidden;
}
.design .image ,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
.design .image img {
    position: relative;
    bottom: -150px;
    left: -300px;
}
.design .text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px){
    .design .image {
        display: none;
    }
    .design .text {
        width: 100%;
    }
}
.design .text h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 30px;
}
.design .text ul li{
    padding: 10px 0;
}
.design .text ul .fa-display{
    margin-right: 20px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
}
.portfolio ul li {
    padding: 10px 20px;
    margin-left: 10px;
}
.portfolio ul li:hover {
    background-color: var(--main-color);
    color: white;
}
@media (max-width: 767px){
    .portfolio ul {
        font-size: 10px;
    }
    .portfolio ul li {
        margin: 0;
    }
}
.portfolio ul .active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .text {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: scale(1.1);
}
@media (min-width: 768px){
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px){
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img{
    width: 100%;
    transition: var(--transition-duration);
}
.portfolio .imgs-container .text{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    bottom: -100%;
    transition: var(--transition-duration);
    padding: 20px;
}
.portfolio .imgs-container .text h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .text p {
    color: var(--main-color);
}
.portfolio .more {
    display: block;
    padding: 10px 25px;
    background-color: var(--main-color);
    text-transform: uppercase;
    margin: 30px auto;
    width: fit-content;
    text-decoration: none;
    color: white;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    padding: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2;
}
@media (max-width: 767px) {
    .video .text {
        padding: 10px;
    }
}
.video .text h2 {
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.video .text button {
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    margin-top: 40px;
}
/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center  ;
}
.about img {
    position: relative;
    bottom: -65px;
    margin-top: -65px;
    max-width: 100%;
}
@media (max-width: 767px){
    .about img {
        bottom: -40px;
        margin-top: -40px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px){
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px){
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}
/* End Stats */
/* Start Skills */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}
.skills .container > div > h3{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.skills .container > div > p{
    text-align: center;
    color: var(--paragraph-color);
    line-height: 1.8;
    margin-bottom: 60px;
}
.skills .testmonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.skills .testmonials .content img {
    border-radius: 50%;
    width: 100px;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .skills .testmonials .content {
        flex-direction: column;
        text-align: center;
    }
    .skills .testmonials .content img{
        margin-bottom: 20px;
    }
}
.skills .testmonials .content .text{
    border-bottom: 1px solid #333;
    line-height: 1.8;
}
.skills .testmonials .content .text p{
    color: var(--paragraph-color);
    text-align: right;
    margin-bottom: 10px;
}
.skills .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 8px;
}
.skills .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills .our-skills .prog-holder {
    margin-bottom: 30px;
}
.skills .our-skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.skills .our-skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.skills .our-skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills .our-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: -20px;
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 4px;
    top: -35px;
    padding: 2px 0;
    text-align: center;
}
.skills .our-skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border: 8px solid;
    border-color: black transparent transparent;
    right: -9px;
    top: -14px;
}
/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.avif);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote .container {
    position: relative;
}
.quote .container q {
    padding: 0 50px;
    margin-bottom: 20px;
    display: block;
    font-size: 30px;
}
.quote q::before {
    font-family: "font Awesome 5 free";
    content: '\f10d';
    font-weight: 900;
    position: relative;
    margin-right: 10px;
    top: -7px;
}
.quote q::after {
    font-family: "font Awesome 5 free";
    content: '\f10e';
    font-weight: 900;
    position: relative;
    margin-left: 10px;
    top: 7px;
}
@media (max-width: 767px){
    .quote .container q {
        padding: 0 0;
        font-size: 18px;
    }
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
}
.pricing .plans .plan {
    text-align: center;
    background-color: lightgray;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-weight: normal;
    font-size: 25px;
    position: relative;
    top: -30px;
    margin-right: 15px;
}
.pricing .plans .plan .head span::after {
    content:"/Mo";
    font-weight: normal;
    font-size: 20px;
    position: relative;
    margin-left: 15px;
}
.pricing .plan .body {
    padding: 15px 0px;
    border-bottom: 1px solid var(--main-color);
}
.pricing .plan .body ul {
    
}
.pricing .plan .body li {
    padding: 10px;
    position: relative;
}
.pricing .plan .body li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plan .foot a{
    display: block;
    text-decoration: none;
    border: 1px solid var(--main-color);
    margin: 30px auto;
    padding: 10px 20px;
    color: black;
    width: fit-content;
}
.pricing .contact-text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.pricing .contact-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    width: fit-content;
    margin: 10px auto;
    padding: 10px 25px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpeg);
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe .container {
    position: relative;
    display: flex;
    text-align: center;
}
@media (max-width: 991px){
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe .container form {
    display: flex;
    position: relative;
    width: 700px;
    max-width: 100%;
}
.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    position: relative;
    border: 1px solid white;
    border-right: none;
    background: none;
    width: calc(100% - 135px);
    caret-color: var(--main-color);
}
.subscribe .container form input[type="email"]:focus {
    outline: none;
}
.subscribe form input[type="email"]::placeholder {
    color: white;
    text-transform: uppercase;
}
.subscribe .container form input[type="submit"] {
    padding: 20px 30px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    width: 135px;
    text-transform: uppercase;
    cursor: pointer;
}
.subscribe .container p {
    line-height: 1.8;
    margin-left: 30px;
}
@media (max-width: 991px) {
    .subscribe .container p {
        margin: 35px 0px 0px;
    }
}
/* End Subscribe */
/* Start Contact Us */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    caret-color: var(--main-color);
    border: 1px solid var(--paragraph-color);
}
.contact .content form textarea {
    height: 200px;
}
.contact .content form .input::placeholder {
    text-transform: uppercase;
}
.contact .content form .input:focus{
    outline: none;
}
.contact .content form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    padding: 20px 35px;
    text-transform: uppercase;
    border: none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
        margin-bottom: 30px;
    }
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
}
@media (max-width: 767px) {
    .contact .content .info h4 {
        margin-bottom: 20px;
    }
}
.contact .content .info .phone {
    display: block;
    color: var(--paragraph-color);
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 85px;
}
@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact .content .info address {
    line-height: 1.8;
    color: var(--paragraph-color);
}
/* End Contact Us */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background-image: url(../images/footer.jpeg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer .container {
    position: relative;
}
.footer .container p:not(.copy-right) {
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 22px;
    padding: 20px;
    width: fit-content;
    border-bottom: 1px solid white;
}
.footer .container .social-icons i {
    padding: 0 10px;
}
.footer .container .copy-right {
    margin-top: 50px;
}
.footer .container .copy-right span {
    color: var(--main-color);
}
/* End Footer */